@*  Kullanıcı login mi ? *@
@if (User.Identity!.IsAuthenticated)
{
    var userName = User.Identity.Name;
    if (userName.Length > 10)
    {
        userName = userName.Substring(0, 10) + "..";
    }

    <div class="ui compact menu">
        <div class="ui simple dropdown item">
            @userName.ToLower()
            <i class="dropdown icon"></i>
            <div class="menu fs-5">
                <a class="item" asp-controller="Member" asp-action="Index"><i class="bi bi-person-fill me-2 d-flex justify-content-center"></i></a>
                <a class="item" asp-controller="Member" asp-action="EditUser"><i class="bi bi-gear-fill me-2 d-flex justify-content-center "></i></a>
                <a class="item" asp-controller="Member" asp-action="LogOut" asp-route-returnurl="/Home/Index"><i class="bi bi-box-arrow-right me-2 d-flex justify-content-center"></i></a>
            </div>

        </div>
    </div>
}
else
{
    <div>
        <a class="btn btn-warning text-dark me-3" asp-controller="Home" asp-action="SignUp">Üye ol</a>
    </div>
    <div>
        <a class="btn btn-success me-3" asp-controller="Home" asp-action="SignIn">Giriş yap</a>
    </div>
}