
@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <h1>Index</h1>
    
    <div class="row">
        
        <div class="col-md-3 text-center mb-4 hover">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">
                <a asp-area="Admin" asp-controller="Home" asp-action="UserList">UserList</a>
            </div>
        </div>
        
        <div class="col-md-3 text-center">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">UserList</div>
        </div>
        
        <div class="col-md-3 text-center">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">UserList</div>
        </div>
        
        <div class="col-md-3 text-center">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">UserList</div>
        </div>
        
        <div class="col-md-3 text-center">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">UserList</div>
        </div>
        
        <div class="col-md-3 text-center">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">UserList</div>
        </div>
        
      
    </div>
</div>
