
@{
    ViewData["Title"] = "Admin - Anasayfa";
}

<div class="text-center mb-5">
    <h1 class="fw-light">Admin Anasayfa</h1>
</div>

<div class="container">
 
    
    <div class="row">
        
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Home" asp-action="UserList">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">
                UserList
            </div>
        </a>
        
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Home" asp-action="UserList">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">
                UserList
            </div>
        </a>
        
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Home" asp-action="UserList">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">
                UserList
            </div>
        </a>
        
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Home" asp-action="UserList">
            <div class="border border-danger rounded-1 bg-danger text-white fs-5 py-4">
                UserList
            </div>
        </a>
        
      
    </div>
</div>
