
@{
    ViewData["Title"] = "Admin - Anasayfa";
}

<div class="text-center mb-5">
    <h1 class="fw-light">Admin Anasayfa</h1>
</div>

<div class="container">
 
    
    <div class="row">
        
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Roles" asp-action="RoleList">
            <div class="border  rounded-1 bg-danger text-white fs-5 py-4">
                Tüm roller
            </div>
        </a>
        
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Roles" asp-action="CreateRole">
            <div class="border rounded-1 bg-warning text-dark fw-bold fs-5 py-4">
                CreateRole         <span class="badge rounded-pill text-bg-primary">Primary</span>

            </div>
        </a>
        
       
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Home" asp-action="UserList">
            <div class="border rounded-1 bg-primary text-white fs-5 py-4">
                UserList
            </div>
        </a>
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Home" asp-action="AdminList">
            <div class="border rounded-1 bg-info text-white fs-5 py-4">
                AdminList

            </div>
        </a>
        

       
        
      
    </div>
</div>
