
@{
    ViewData["Title"] = "Hesabım";
}


<div class="container">
    <div class="row">
        <div class="ui floating message ">
            <p class="fs-6">Merhaba @User.Identity.Name, hesap detayların burada. :)</p>
        </div>
    </div>
</div>

