@{
    ViewData["Title"] = "Erişiminiz Yok";
}



<title>Access Denied</title>
<link rel="stylesheet" href="css/custom_css/accounts/access_denied.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-center"><code>Erişiminiz Yok!</code></h1>
    <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
    <h3 class="w3-center w3-animate-right">Bu sayfayı görüntülemeye yetkiniz bulunmamaktadır.</h3>
    <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
    <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
    <div class="text-center mt-4">
        <a href="/" class="ui primary button">Anasayfaya Dön</a>
    </div>
</div>
