@{
    ViewData["Title"] = "Kullanıcı Girişi";

}
@model SignInViewModel

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center mb-4 mt-4">Kullanıcı Girişi</h2>

        <div asp-validation-summary=ModelOnly class="alert alert-danger alert-dismissible fade show" role="alert">

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <form class="border p-4 rounded-1 " asp-controller="Home" asp-action="SignIn" asp-route-returnurl="@Context.Request.Query["returnUrl"]" method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input value="byali.ilgin@gmail.com" class="form-control" asp-for="Email" required>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input value="http://localhost:5185/Home/ResetPassword" type="password" class="form-control" asp-for="Password" required>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label" for="RememberMe" asp-for="RememberMe"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="float-end text-dark fw-normal" asp-controller="Home" asp-action="ForgotMyPassword">Şifremi Unuttum</a>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Giriş yap</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}