<div class="ui compact menu me-3">
    <div class="ui simple dropdown item">
        Admin
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" asp-area="Admin" asp-controller="Roles" asp-action="Index"><i class="bi bi-person-fill"></i>Tüm roller</a>
        </div>

    </div>
</div>