@model List<AdminModel.RoleListViewModel>
@{
    ViewData["Title"] = "RoleList";
}

<div class="text-center d-flex justify-content-between mt-4">
    <h1 class="fw-light">RoleList</h1>

    
    <a asp-action="CreateRole">
        <button class="ui blue button fw-bold">Rol ekle</button>
    </a>
</div>

<div class="container mt-4">
    <table class="ui red table selectable">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoleName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>

                </tr>
            }

        </tbody>
    </table>

</div>


